.about-section {
  margin-bottom: 80px;
  font-family: var(--font-family);
}
.about-section .about {
  background-color: red;
}
.about-section .about .title p {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 40px;
  margin: 0;
  padding: 100px 0;
}
.about-section .about-info h2 {
  position: relative;
  display: inline-block;
}
.about-section .about-info h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  width: 50%;
  height: 4px;
  background-color: red;
  border-radius: 12px;
}
.about-section .about-info p {
  font-size: 16px;
  margin: 30px 0;
}
